
.buttonCart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin: 20px;
}

.buttonCart .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}



