.Navbar{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 100px;
}

.button-container {
    display: flex;
    background-color: #0D2E4B;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

}

.button:hover {
    transform: translateY(-3px);
}

@media(max-width: 480px) {
    .button-container{
        text-align: center;
        padding: 22px;
        bottom: 20px;
        position: fixed;
        width: 300px;
        z-index: 1000;

    }
}



